/* https://ektype.in/font-family/gotu-font/gotu-3230.html */
@font-face {
  font-family: "Gotu";
  src: url("./fonts/Gotu.woff2") format("woff2"),
       url("./fonts/Gotu.woff") format("woff");
}

/* base */

@media (prefers-color-scheme: light) {
:root {
    --primary-color: #112;
    --secondary-color: #ddc;
    --muted-color: #555;
    --strong-color: #000;
    --link-color: #944;
    --logo-invert: 0.85;
}
}

:root {
    --primary-color: #ddd;
    --secondary-color: #1a1a1a;
    --muted-color: #aaa;
    --strong-color: #fff;
    --link-color: #5aa;
    --logo-invert: 0.15;
}

html {
    height: 100%;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

body {
    padding: 0;
    margin: auto;
    max-width: 850px;
    font-family: Gotu, sans-serif;
}

/* nav */

nav {
    display: flex;
    margin: 1em;
    justify-content: space-between;
    align-items: center;
}

img.nav-logo {
    margin: 0.5em;
    width: auto;
    height: 3em;
    filter: invert(var(--logo-invert));
}

div.nav-links > a {
    margin: 0.5em;
    font-size: larger;
}

/* main */

main.content {
    padding: 1em;
}

/* header */

header {
    padding: 0.5em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--muted-color);
}

header > h1 {
    margin: 0;
    text-align: center;
}

div.post-time {
    color: var(--muted-color);
}

header > div.post-time {
    margin: 0.5em;
    text-align: right;
}

/* page list */

div.page-list {
    text-align: center;
}

div.page-item {
    margin: 2.5em 0;
}

div.page-item > h2 {
    margin: 0;
}

/* showcase */

div.showcase-item {
    margin: 1em;
    text-align: center;
    border-bottom: 1px solid var(--muted-color);
}

div.showcase-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--muted-color);
}

div.showcase-item div.description {
    padding: 1em;
}

/* elements */

a {
    color: var(--link-color);
    text-decoration: none;
}

strong {
    color: var(--strong-color);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

pre {
    padding: 0.5em;
    color: white;
    background-color: black;
    max-width: 100%;
    overflow: auto;
    border-radius: 3px;
}

figure {
    text-align: center;
}

figure > img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--muted-color);
}

figcaption > h4 {
    margin-top: 0.5em;
    margin-bottom: 2em;
}

blockquote {
    border-left: 5px solid var(--muted-color);
    padding-left: 1em;
    color: var(--muted-color);
    overflow: auto;
}

hr {
    border: 1px solid var(--muted-color);
    border-bottom: none;
}

/* page controls */

a.button {
    padding: 0.2em 1em;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 4px;
}

div.button-container {
   text-align: center;
   font-size: x-large;
   margin: 1.5em;
}

/* footer */

footer {
    text-align: center;
}