@import url(https://fonts.googleapis.com/css?family=Quicksand|Coda);

html {
    height: 100%;
    background-color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Coda', serif;
}

table {
    border-collapse: collapse;
}

nav.site-nav {
    display: flex;
    margin: 0.5em 1em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    color: white;
}

h1.site-title {
    display: none;
}

img.nav-logo {
    margin: 0;
    height: 3em;
    width: auto;
}

ul.nav-links {
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

ul.nav-links > li {
    list-style: none;
    display: flex;
    align-items: center;
}

a.nav-item {
    color: inherit;
    text-decoration: none;
    padding: 0.5em;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    font-family: 'Coda', serif;
}

a.nav-item:hover {
    background-color: white;
    color: black;
}

ul.post-list {
    padding: 0;
}

ul.post-list > li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

ul.post-list > li > a {
    font-size: large;
    text-overflow: ellipsis;
    margin-right: 2em;
}

span.post-time {
    color: #777;
    white-space: nowrap;
    align-self: center;
}

footer.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    padding-top: 0.5em;
    background-color: black;
    color: white;
}

footer.site-footer a {
    color: teal;
}

div.credits {
    text-align: center;
    font-size: small;
    margin-top: 0.3em;
    color: #ddd;
}

div.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 1em;
    box-shadow: 0 0 10px #fff;
    font-size: large;
}

div.content figure {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.content figure > img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

div.content figcaption {
    color: #777;
}

div.content pre {
    max-width: 100%;
    overflow: auto;
    color: lime;
    background-color: black;
    padding: 0.7em;
    border-radius: 3px;
}

div.content table, th, td {
    border: 1px solid;
}

div.content th {
    padding: 0.2em 1em;
    background-color: #eee;
}

div.content td {
    padding: 0.1em 0.5em;
}

div.content blockquote {
    border-left: 5px solid #444;
    padding-left: 1em;
    color: #444;
    overflow: auto;
}

div.post-header {
    margin-top: 1em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
}

div.post-header > h1 {
    margin: 0;
    align-self: center;
}

div.post-header > time {
    align-self: flex-end;
}

div.showcase {
    display: flex;
    flex-flow: column wrap;
}

div.showcase-item {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1.5em;
}

div.showcase-item:last-child {
    border-bottom: none;
}

div.showcase-item > h2 {
    margin-top: 0.5em;
    border: none;
}

div.showcase-item > h2 > a {
    text-decoration: none;
    color: #04a;
}

div.description {
    text-align: center;
    padding: 0.5em;
}

img.showcase-img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

div.video-container {
    text-align: center;
}
